.expansion-list {
	row-gap: 0.5rem;
	max-width: 400px;

	details {
		padding-left: 20px;
	}

	summary {
		list-style-position: outside;
		padding-left: 20px;
	}

	.card-item {
		align-items: center;
		display: flex;

		label {
			font-size: 1.2rem;
			overflow-x: hidden;
			text-overflow: ellipsis;
			padding-right: 2rem;
			flex-grow: 1;
		}
	}
}
