@import './assets/styles/buttons.scss';
@import './assets/styles/inputs.scss';
@import './assets/styles/links.scss';
@import './assets/styles/theme.scss';

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Atkinson';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Atkinson-Hyperlegible-Regular-102.ttf') format('ttf');
}

@font-face {
  font-family: 'Atkinson';
  font-style: normal;
  font-weight: 700;
  src: url('/font/Atkinson-Hyperlegible-Bold-102.ttf') format('ttf');
}

@font-face {
  font-family: 'Atkinson';
  font-style: italic;
  font-weight: 400;
  src: url('/font/Atkinson-Hyperlegible-Italic-102.ttf') format('ttf');
}

@font-face {
  font-family: 'Atkinson';
  font-style: italic;
  font-weight: 700;
  src: url('/font/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('ttf');
}

body {
  font-family: 'Atkinson', Arial, Helvetica, sans-serif; /* Use the font family */
  background-color: var(--background-color);
  color: var(--text-color);
}